/.vs/ProjectEvaluation/tinexpressapis.metadata.v9.bin
/.vs/ProjectEvaluation/tinexpressapis.projects.v9.bin
/.vs/ProjectEvaluation/tinexpressapis.strings.v9.bin
/.vs/TINEXPRESSAPIS/config/applicationhost.config
/.vs/TINEXPRESSAPIS/DesignTimeBuild/.dtbcache.v2
/.vs/TINEXPRESSAPIS/FileContentIndex/93decce3-8b63-4092-bb06-4f1a1fe73577.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/cca3ce71-97a9-4027-be90-a468f4153c72.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/df9c6de1-dd61-4257-a421-b94ad577f2e8.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/f64a5005-792a-46c0-9fe4-831c307fcb6a.vsidx
/.vs/TINEXPRESSAPIS/v17/.futdcache.v2
/.vs/TINEXPRESSAPIS/v17/.suo
/.vs/TINEXPRESSAPIS/v17/DocumentLayout.backup.json
/.vs/TINEXPRESSAPIS/v17/DocumentLayout.json
/Application/bin/Debug/net8.0/Application.deps.json
/Application/bin/Debug/net8.0/Application.dll
/Application/bin/Debug/net8.0/Application.pdb
/Application/bin/Debug/net8.0/Domain.dll
/Application/bin/Debug/net8.0/Domain.pdb
/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net8.0/Application.assets.cache
/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net8.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net8.0/Application.dll
/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net8.0/Application.pdb
/Application/obj/Debug/net8.0/Application.sourcelink.json
/Application/obj/Debug/net8.0/ref/Application.dll
/Application/obj/Debug/net8.0/refint/Application.dll
/.vs/TINEXPRESSAPIS/FileContentIndex/0f87b0fc-271b-436d-b29e-c9890a20f694.vsidx
/Domain/bin/Debug/net8.0/Domain.dll
/Domain/bin/Debug/net8.0/Domain.pdb
*.dll
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/Infrastructure/bin/Debug/net8.0/Domain.pdb
/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Infrastructure/obj/Debug/net8.0/Infrastr.15EFFBFE.Up2Date
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.assets.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.sourcelink.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.OrderMgmtAPI.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.OrderMgmtAPI.OpenApiFiles.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/ApiEndpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRE.184EF2C1.Up2Date
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.assets.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.BuildWithSkipAnalyzers
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.sourcelink.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.UserMgmtAPI.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.UserMgmtAPI.OpenApiFiles.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/ApiEndpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRE.53CE395A.Up2Date
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.assets.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.BuildWithSkipAnalyzers
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.sourcelink.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.exe
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.deps.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.exe
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.deps.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.exe
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.staticwebassets.endpoints.json
/.vs/TINEXPRESSAPIS/FileContentIndex/0233676e-4570-4515-aa47-b142359a1d2b.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/08fe658f-e793-4618-bf70-32311c5011e1.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/c3aa8771-ad1c-4aa9-8d14-de037d2d903f.vsidx
/.vs/TINEXPRESSAPIS/FileContentIndex/d953cf25-77ee-4e02-9ccf-a1ce088c3630.vsidx
/Application/bin/Release/net8.0/Application.dll
/Application/bin/Release/net8.0/Application.pdb
/Application/bin/Release/net8.0/Domain.dll
/Application/bin/Release/net8.0/Domain.pdb
/Application/obj/Release/net8.0/ref/Application.dll
/Application/obj/Release/net8.0/refint/Application.dll
/Application/obj/Release/net8.0/Application.AssemblyInfo.cs
/Application/obj/Release/net8.0/Application.AssemblyInfoInputs.cache
/Application/obj/Release/net8.0/Application.csproj.AssemblyReference.cache
/Application/obj/Release/net8.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Release/net8.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Release/net8.0/Application.dll
/Application/obj/Release/net8.0/Application.pdb
/Application/obj/Release/net8.0/Application.sourcelink.json
/Domain/bin/Release/net8.0/Domain.dll
/Domain/bin/Release/net8.0/Domain.pdb
/Domain/obj/Release/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Release/net8.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Release/net8.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Release/net8.0/Domain.dll
/Domain/obj/Release/net8.0/Domain.pdb
/Domain/obj/Release/net8.0/Domain.sourcelink.json
/Domain/obj/Release/net8.0/ref/Domain.dll
/Domain/obj/Release/net8.0/refint/Domain.dll
/Infrastructure/bin/Release/net8.0/Domain.dll
/Infrastructure/bin/Release/net8.0/Domain.pdb
/Infrastructure/bin/Release/net8.0/Infrastructure.deps.json
/Infrastructure/bin/Release/net8.0/Infrastructure.dll
/Infrastructure/bin/Release/net8.0/Infrastructure.pdb
/Infrastructure/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Infrastructure/obj/Release/net8.0/Infrastr.15EFFBFE.Up2Date
/Infrastructure/obj/Release/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Release/net8.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Release/net8.0/Infrastructure.assets.cache
/Infrastructure/obj/Release/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Release/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Release/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Release/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Release/net8.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Release/net8.0/Infrastructure.pdb
/Infrastructure/obj/Release/net8.0/Infrastructure.sourcelink.json
/TINEXPRESSAPIS.NotificationAPI/.config/dotnet-tools.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.deps.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.runtimeconfig.json
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/Application.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/appsettings.json
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/Domain.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.deps.json
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.exe
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.runtimeconfig.json
/TINEXPRESSAPIS.NotificationAPI/bin/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.NotificationAPI.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.NotificationAPI.OpenApiFiles.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/ApiEndpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRE.E09BFD87.Up2Date
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.BuildWithSkipAnalyzers
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/Application.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/appsettings.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/Domain.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/Infrastructure.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.NotificationAPI.deps.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.NotificationAPI.exe
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.NotificationAPI.runtimeconfig.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.NotificationAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/Out/web.config
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/apphost.exe
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PublishOutputs.1e0b697fb7.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.publish.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.publish.json
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRE.E09BFD87.Up2Date
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.assets.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/TINEXPRESSAPIS.NotificationAPI.sourcelink.json
/TINEXPRESSAPIS.NotificationAPI/obj/TINEXPRESSAPIS.NotificationAPI.csproj.EntityFrameworkCore.targets
/TINEXPRESSAPIS.NotificationAPI/Properties/PublishProfiles/TXStagingAtRiderServer.pubxml
/TINEXPRESSAPIS.NotificationAPI/Properties/PublishProfiles/TXStagingAtRiderServer.pubxml.user
/TINEXPRESSAPIS.NotificationAPI/TINEXPRESSAPIS.NotificationAPI.csproj.user
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/Application.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/appsettings.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/Domain.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.deps.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.exe
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/Application.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/appsettings.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/Domain.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/Infrastructure.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.OrderMgmtAPI.deps.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.OrderMgmtAPI.exe
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.OrderMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.OrderMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/Out/web.config
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.OrderMgmtAPI.Parameters.xml
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.OrderMgmtAPI.SourceManifest.xml
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/apphost.exe
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/PublishOutputs.33e8c40486.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.publish.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.publish.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRE.184EF2C1.Up2Date
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.assets.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.sourcelink.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/Application.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/appsettings.Development.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/appsettings.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/Domain.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/Infrastructure.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.UserMgmtAPI.deps.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.UserMgmtAPI.exe
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.UserMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/TINEXPRESSAPIS.UserMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/Out/web.config
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.UserMgmtAPI.Parameters.xml
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.UserMgmtAPI.SourceManifest.xml
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/Application.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/appsettings.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/Domain.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.deps.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.exe
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/apphost.exe
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/PublishOutputs.e6f7dc2458.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.publish.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.publish.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRE.53CE395A.Up2Date
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.assets.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Release/net8.0/TINEXPRESSAPIS.UserMgmtAPI.sourcelink.json
/TINEXPRESSAPIS.OrderMgmtAPI/Properties/PublishProfiles/TXStagingAtRiderServer.pubxml.user
/TINEXPRESSAPIS.OrderMgmtAPI/TINEXPRESSAPIS.OrderMgmtAPI.csproj.user
/TINEXPRESSAPIS.UserMgmtAPI/Properties/PublishProfiles/TXStagingAtRiderServer.pubxml.user
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.NotificationAPI.Parameters.xml
/TINEXPRESSAPIS.NotificationAPI/obj/Release/net8.0/PubTmp/TINEXPRESSAPIS.NotificationAPI.SourceManifest.xml
/.vs/TINEXPRESSAPIS/FileContentIndex/928d5e28-a679-4750-bc6f-0862b90fffeb.vsidx
