/.vs/TINEXPRESSAPIS/config/applicationhost.config
/.vs/TINEXPRESSAPIS/DesignTimeBuild/.dtbcache.v2
/.vs/TINEXPRESSAPIS/FileContentIndex/08c4c378-a780-4a2e-ade1-85cab92f7311.vsidx
/.vs/TINEXPRESSAPIS/v17/.suo
/.vs/TINEXPRESSAPIS/v17/DocumentLayout.backup.json
/.vs/TINEXPRESSAPIS/v17/DocumentLayout.json
/Application/bin/Debug/net8.0/Application.deps.json
/Application/bin/Debug/net8.0/Application.dll
/Application/bin/Debug/net8.0/Application.pdb
/Application/bin/Debug/net8.0/Domain.dll
/Application/bin/Debug/net8.0/Domain.pdb
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/Application.csproj.nuget.g.targets
/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net8.0/Application.assets.cache
/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net8.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net8.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net8.0/Application.dll
/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net8.0/Application.pdb
/Application/obj/Debug/net8.0/Application.sourcelink.json
/Application/obj/Debug/net8.0/ref/Application.dll
/Application/obj/Debug/net8.0/refint/Application.dll
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/Application/Services/DashboardService.cs
/Domain/bin/Debug/net8.0/Domain.deps.json
/Domain/bin/Debug/net8.0/Domain.dll
/Domain/bin/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
/Domain/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net8.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Debug/net8.0/Domain.dll
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/Domain.sourcelink.json
/Domain/obj/Debug/net8.0/ref/Domain.dll
/Domain/obj/Debug/net8.0/refint/Domain.dll
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/obj/project.assets.json
/Domain/obj/project.nuget.cache
/Infrastructure/bin/Debug/net8.0/Domain.dll
/Infrastructure/bin/Debug/net8.0/Domain.pdb
/Infrastructure/bin/Debug/net8.0/Infrastructure.deps.json
/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Infrastructure/obj/Debug/net8.0/Infrastr.15EFFBFE.Up2Date
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net8.0/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net8.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.assets.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.NotificationAPI/obj/project.assets.json
/TINEXPRESSAPIS.NotificationAPI/obj/project.nuget.cache
/TINEXPRESSAPIS.NotificationAPI/obj/TINEXPRESSAPIS.NotificationAPI.csproj.nuget.dgspec.json
/TINEXPRESSAPIS.NotificationAPI/obj/TINEXPRESSAPIS.NotificationAPI.csproj.nuget.g.props
/Infrastructure/obj/Debug/net8.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Application.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/AutoMapper.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/ClosedXML.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/ClosedXML.Parser.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/CsvHelper.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Domain.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/ExcelNumberFormat.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Management.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Google.Apis.Auth.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Google.Apis.Core.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Google.Apis.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Infrastructure.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/MailKit.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Facebook.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Bcl.Cryptography.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Bcl.Memory.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/MimeKit.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/MySqlConnector.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/RBush.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/SixLabors.Fonts.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.CodeDom.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.Formats.Asn1.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.IO.Packaging.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.Management.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.deps.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.dll
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.exe
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.OrderMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/Controllers/DashboardController.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/ApiEndpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.OrderMgmtAPI.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/EndpointInfo/TINEXPRESSAPIS.OrderMgmtAPI.OpenApiFiles.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/ref/TINEXPRESSAPIS.OrderMgmtAPI.dll
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/refint/TINEXPRESSAPIS.OrderMgmtAPI.dll
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.OrderMgmtAPI.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRE.184EF2C1.Up2Date
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.assets.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.BuildWithSkipAnalyzers
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.dll
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.pdb
/TINEXPRESSAPIS.OrderMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.OrderMgmtAPI.sourcelink.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/project.assets.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.AssemblyInfoInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.assets.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.AssemblyReference.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GeneratedMSBuildEditorConfig.editorconfig
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.GlobalUsings.g.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/project.assets.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/project.nuget.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/TINEXPRESSAPIS.UserMgmtAPI.csproj.nuget.dgspec.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/TINEXPRESSAPIS.UserMgmtAPI.csproj.nuget.g.props
/TINEXPRESSAPIS.OrderMgmtAPI/obj/project.nuget.cache
/TINEXPRESSAPIS.OrderMgmtAPI/obj/TINEXPRESSAPIS.OrderMgmtAPI.csproj.nuget.dgspec.json
/TINEXPRESSAPIS.OrderMgmtAPI/obj/TINEXPRESSAPIS.OrderMgmtAPI.csproj.nuget.g.props
/TINEXPRESSAPIS.OrderMgmtAPI/TINEXPRESSAPIS.OrderMgmtAPI.csproj.user
/.vs/TINEXPRESSAPIS/FileContentIndex/51721d28-59b5-4cfe-9e81-550d676779fc.vsidx
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Application.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/AutoMapper.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/ClosedXML.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/ClosedXML.Parser.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/CsvHelper.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Domain.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/ExcelNumberFormat.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Google.Apis.Auth.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Google.Apis.Core.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Google.Apis.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Infrastructure.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/MailKit.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Facebook.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Bcl.Cryptography.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Bcl.Memory.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/MimeKit.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/MySqlConnector.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/RBush.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Management.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/SixLabors.Fonts.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.CodeDom.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.Formats.Asn1.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.IO.Packaging.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.Management.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.deps.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.dll
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.exe
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.runtimeconfig.json
/TINEXPRESSAPIS.NotificationAPI/bin/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/ref/TINEXPRESSAPIS.NotificationAPI.dll
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/refint/TINEXPRESSAPIS.NotificationAPI.dll
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.NotificationAPI.props
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRE.E09BFD87.Up2Date
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.dll
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.pdb
/TINEXPRESSAPIS.NotificationAPI/obj/Debug/net8.0/TINEXPRESSAPIS.NotificationAPI.sourcelink.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Application.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Application.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/appsettings.Development.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/appsettings.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/AutoMapper.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/ClosedXML.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/ClosedXML.Parser.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/CsvHelper.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/DocumentFormat.OpenXml.Framework.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Domain.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Domain.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/ExcelNumberFormat.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Google.Apis.Auth.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Google.Apis.Core.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Google.Apis.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Infrastructure.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Infrastructure.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/MailKit.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.Facebook.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Bcl.Cryptography.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Bcl.Memory.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/MimeKit.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/MySqlConnector.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/RBush.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/SixLabors.Fonts.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.CodeDom.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.Formats.Asn1.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.IO.Packaging.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.Management.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/System.Security.Cryptography.Pkcs.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.deps.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.dll
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.exe
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.runtimeconfig.json
/TINEXPRESSAPIS.UserMgmtAPI/bin/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.staticwebassets.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/ref/TINEXPRESSAPIS.UserMgmtAPI.dll
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/refint/TINEXPRESSAPIS.UserMgmtAPI.dll
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TINEXPRESSAPIS.UserMgmtAPI.props
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/apphost.exe
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.build.json
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRE.53CE395A.Up2Date
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.CoreCompileInputs.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.csproj.FileListAbsolute.txt
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.dll
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.genruntimeconfig.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cache
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.MvcApplicationPartsAssemblyInfo.cs
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.pdb
/TINEXPRESSAPIS.UserMgmtAPI/obj/Debug/net8.0/TINEXPRESSAPIS.UserMgmtAPI.sourcelink.json
